{% extends 'base.html.twig' %}

{% block body %}
    <h1>Housingpropertyrights list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Propertynumber</th>
                <th>Ownername</th>
                <th>Ownerid</th>
                <th>Owneridhash</th>
                <th>Address</th>
                <th>Commname</th>
                <th>Commppname</th>
                <th>East</th>
                <th>South</th>
                <th>West</th>
                <th>North</th>
                <th>Constructionarea</th>
                <th>Housearea</th>
                <th>Housestyle</th>
                <th>Authorizeddate</th>
                <th>Authorizeddept</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for housingPropertyRight in housingPropertyRights %}
            <tr>
                <td><a href="{{ path('housingpropertyrights_show', { 'id': housingPropertyRight.id }) }}">{{ housingPropertyRight.id }}</a></td>
                <td>{{ housingPropertyRight.propertyNumber }}</td>
                <td>{{ housingPropertyRight.ownerName }}</td>
                <td>{{ housingPropertyRight.ownerId }}</td>
                <td>{{ housingPropertyRight.ownerIdHash }}</td>
                <td>{{ housingPropertyRight.address }}</td>
                <td>{{ housingPropertyRight.commName }}</td>
                <td>{{ housingPropertyRight.commPpName }}</td>
                <td>{{ housingPropertyRight.east }}</td>
                <td>{{ housingPropertyRight.south }}</td>
                <td>{{ housingPropertyRight.west }}</td>
                <td>{{ housingPropertyRight.north }}</td>
                <td>{{ housingPropertyRight.constructionArea }}</td>
                <td>{{ housingPropertyRight.houseArea }}</td>
                <td>{{ housingPropertyRight.houseStyle }}</td>
                <td>{{ housingPropertyRight.authorizedDate }}</td>
                <td>{{ housingPropertyRight.authorizedDept }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('housingpropertyrights_show', { 'id': housingPropertyRight.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('housingpropertyrights_edit', { 'id': housingPropertyRight.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('housingpropertyrights_new') }}">Create a new housingPropertyRight</a>
        </li>
    </ul>
{% endblock %}
