{% extends 'base.html.twig' %}

{% block body %}
    <h1>Integrities list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Ownerid</th>
                <th>Category</th>
                <th>Timestamp</th>
                <th>Name</th>
                <th>Place</th>
                <th>Content</th>
                <th>Cert</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for integrity in integrities %}
            <tr>
                <td><a href="{{ path('integrity_show', { 'id': integrity.id }) }}">{{ integrity.id }}</a></td>
                <td>{{ integrity.ownerId }}</td>
                <td>{{ integrity.category }}</td>
                <td>{{ integrity.timestamp }}</td>
                <td>{{ integrity.name }}</td>
                <td>{{ integrity.place }}</td>
                <td>{{ integrity.content }}</td>
                <td>{{ integrity.cert }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('integrity_show', { 'id': integrity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('integrity_edit', { 'id': integrity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('integrity_new') }}">Create a new integrity</a>
        </li>
    </ul>
{% endblock %}
